* {
	margin: 0;
}

ul, li {
	margin: 0;
	padding: 0;
}

body {
	background-color:#f8f8f8;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	font-family: "Rubik";	
	color: #212121;
}

.bold {
	font-weight: 550;
}

.container {
	width: 1080px;
	margin-right: auto;
	margin-left: auto;
}

.first-screen {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header {
	margin-top: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ul {
	display: flex;
	list-style-type: none;
	gap: 2rem;
}

.name {
	display: flex;
	flex-direction: column;
	font-size: 25px;
}

.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.name h1 {
	margin-bottom: 1.5rem;
	font-weight: 100;
}
.name p {
	font-size: 2rem;
}

.contacts {
	display: flex;
	justify-content: space-between;
	margin: 4rem 0;
}

.first-screen img {
    border-radius: 5px; 
}

.nav-link a, .link {
	display: inline-block;
	vertical-align: top;
	color:black;
	text-decoration: none;
	transition: color .15s linear;
}

.nav-link a:hover, .link:hover {
	text-decoration: none;
	color:darkgray;
}

.social {
	display: flex;
	gap: 2rem;	
}

.whatido {
	margin-top: 6rem;
}

.whatido h1 {
	font-size: 30px;
	font-weight: 900;
}

.whatido1 {
	margin-top: 3rem;
	width: 100vh;
	height: auto;
	display: flex;
	flex-direction: row rtl;
	gap: 25rem;
}

.whatidocontent {
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	gap: 22.6rem;
}

.whatidocontent p {
	font-size: 24px;
	font-weight: 600;
}

.whatidotext {
	display: flex;
	margin-top: 0.8rem;
	font-size: 15px;
	font-weight: 400;
	gap: 9.3rem;
}

.skills {
	display: flex;
	margin-top: 9rem;
}

.skills1 {
	display: flex;
	margin-top: 2rem;
	gap: 20.5rem;
}

.skills1 p {
	display: flex;
	margin-top: -2.4rem;
	margin-left: 3rem;
	font-size: 23px;
	font-weight: 100;

}

.photoshop {
	display: flex;
	margin-top: 0.7rem;
}

.photoshop p {
	display: flex;
	margin-top: 0.3rem;
	margin-left: 0.7rem;
	font-size: 23px;
	font-weight: 100;
}

.jsh {
	display: flex;
	margin-top: 9rem;
}

.contacts2content {
	margin-top: 4rem;
	display: flex;
	flex-direction: row;
	gap: 24rem;
	font-size: 15	px;
	font-weight: 500;
}

.social2 {
	display: flex;
	gap: 1rem;	
}

.followme{
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	gap: 19.3rem;
}

.mail2 {
	display: inline-block;
	vertical-align: top;
	color:black;
	text-decoration: none;
	transition: color .15s linear;
}

.mail2:hover {
	text-decoration: none;
	color:darkgray;
}

.im {
	display: flex;
	margin-top: 3rem;
	font-size: 23px;
	font-weight: 300;
}

.copyright {
	margin-top: 3rem;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 4rem;
}