* {
	margin: 0;
}

body {
	background-color:#f8f8f8;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	font-family: "Rubik";	
}

.bold {
	font-weight: 550;
}

.container {
	width: 1080px;
	margin-right: auto;
	margin-left: auto;
}

.first-screen {
	height: 100vh;
}

.header {
	margin-top: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ul {
	display: flex;
	list-style-type: none;
	gap: 1rem;
}